.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  flex-direction: column;
  background-color: rgb(249, 248, 250);
  padding: 40px;
  border-radius: 10px;
  height: auto;
  width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  

  color: rgb(9, 8, 8);

}
.card:hover{
   transform: scale(1.1);
        transition: 0.7s;

}
.images {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.detail{
  background-color:rgb(217, 213, 222);
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 3px;
    border-radius: 10px;
    gap: 0px;

}
.b{
  padding: 7px;
  background-color: antiquewhite;
  border: 0px solid black;
  border-radius: 5px;
  background-color: rgba(10, 42, 93, 0.434);
}
